// ====================
// Colors
// ====================

$aqua: #96b6b3;
$green: $aqua;

$palegoldenrod: #f3ead2;
$yellow: $palegoldenrod;

$dark: #333333;
$black: $dark;

$red: #990000;
$color-complementary: $red;



// ====================
// Fonts
// ====================

$comic-regular: 'ComicBookRegular';

$lithos-black: 'LithosPro850';

$lithos-regular: 'LithosProRegular';
$title-period: $lithos-regular;



// ====================
// Helpers
// ====================

%data {
  font-family: $comic-regular;
  font-size: 1.2em;
  text-align: center;
  padding: 0 10px;
  min-width: 100px;
  position: absolute;
  display: inline-block;
  border-right: 2px solid $yellow;
}



// ====================
// Mixins
// ====================

@mixin transition($rulers...){
  -webkit-transition: $rulers;
     -moz-transition: $rulers;
      -ms-transition: $rulers;
       -o-transition: $rulers;
          transition: $rulers;
}

@mixin rotate($value) {
  -webkit-transform: rotate($value);
     -moz-transform: rotate($value);
      -ms-transform: rotate($value);
       -o-transform: rotate($value);
          transform: rotate($value);
}

@mixin truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Show events period
@mixin data ($attr) {
  content: attr($attr);
  @extend %data;

  @if $attr == 'data-start' {
    top: -34px;
    color: $dark;
    height: 20px;
    line-height: 30px;
    left: 35px;
  } @else if $attr == 'data-end' {
    height: 23px;
    right: 0;
    top: -73px;
    line-height: 18px;
    color: $yellow;
  }
}
