// ====================
// Other
// ====================

body {
  font-size: 10px;
  background-color: $yellow;
}

ul { padding: 0; }
li { list-style-type: none; }



// ====================
// Structure
// ====================

.main {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;

  .content {
    width: 96%;
    height: 100%;
    overflow: auto;
    padding: 10px 20px;
    position: relative;
    margin: 0 auto;

    background-attachment: fixed;
    background: $yellow url("../../src/images/bordas-laterais.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }
}

.header-primary {
  width: 100%;
  height: 155px;
  position: fixed;
  bottom: 0;
}



// ====================
// Header
// ====================

// Nav
.nav-list {
  background-color: $green;
  margin: 0;
  height: 155px;
  position: relative;

  &::before {
    content: '';
    width: 100%;
    height: 30px;
    top: -45px;
    display: block;
    background-color: $green;
    position: absolute;
  }

  &::after {
    content: '';
    width: 100%;
    display: block;
    position: absolute;
    height: 15px;
    top: -15px;
    background: url('../../src/images/base-timeline.png');
    // background: $yellow url('../../src/images/base-timeline.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
  }
}

.nav-item {
  vertical-align: middle;
  list-style-type: none;
  height: 133px;
  margin: -11px 20px 0 20px;
  // margin: 0 20px 0 20px;
  position: relative;

  &::before {
    @include data(data-start);
  }

  // Edit position of legend
  &:nth-child(6) {
    figcaption {
      width: 140px;
      font-size: 1em;
    }
  }

  &:nth-child(7) {
    figcaption {
      width: 150px;
      font-size: 1em;
    }
  }

  &:nth-child(8) {
    figcaption {
      width: 150px;
      font-size: 1em;
    }

    aside {
      width: 190px;
      font-size: .9em;
      left: 40px;
    }
  }

  &:nth-child(9) {
    figcaption {
      width: 90px;
      font-size: 1em;
    }
  }

  &:nth-child(10) {
    figcaption {
      width: 150px;
      font-size: 1em;
    }
  }
}

.nav-link {
  display: block;
  width: 140px;
  height: 100%;
  text-decoration: none;
  float: left;
}

.img-link {
  margin: 0 auto auto 40px;
  display: block;

  figcaption {
    text-transform: uppercase;
    color: $black;
    font-family: $title-period;
    width: 120px;
    text-align: left;
    font-size: 1.2em;
    margin-top: 10px;
  }
}

.text-complementary {
  float: left;
  margin-top: 50px;
  position: relative;
  width: 150px;
  left: 20px;
  text-align: center;
  font-family: $title-period;
  font-size: 1.1em;
  color: $color-complementary;

  &::before {
    @include data(data-end);
  }
}



// ====================
// Main
// ====================

.content {
  position: relative;

  figure {
    text-align: center;
  }

  p {
    font-size: 1.8em;
    text-align: justify;
    color: $black;
    line-height: 1.4em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
}



// ====================
// Pages Internal
// ====================

.title-primary {
  color: $green;
  font-size: 4em;
  text-align: center;
  margin: .3em auto 40px auto;
  text-transform: uppercase;
  font-family: $lithos-black;
}



// ====================
// Break Points
// ====================

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .main {
    min-height: 595px;
    max-height: 595px;

    .content {
      height: 565px;
    }
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .main {
    min-height: 880px;
    max-height: 880px;

    .content {
      height: 850px;
    }
  }

  .nav-item,
  .text-complementary {
    &::before {
      font-size: .8em;
    }
  }

  .text-complementary {
    width: 60px;
    @include truncate;

    &::before {
      right: -40px;
      top: -217px;
    }
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  .main {
    height: 420px;
  }
}
