// ====================
// Other
// ====================

body {
  font-size: 10px;
  background-color: $yellow;
  @include transition(background, .2s, linear, 0s);

  &.js-bg-modal {
    background-color: rgba(0, 0, 0, .8);
  }
}

ul { padding: 0; }
li { list-style-type: none; }
figure { margin: 0; }
p { margin: 0; }

.clear { clear: both; }


// ====================
// Structure
// ====================

.main {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
}

.header-primary {
  width: 100%;
  height: 155px;
  position: fixed;
  z-index: 1000;
  @include transition(bottom, .5s, linear, 0s);

  &.js-closed {
    bottom: -170px;
    z-index: 1000;
  }

  &.js-open {
    bottom: 0;
    z-index: 199999;
  }

  &.js-modal {
    bottom: -200px;
  }
}

.click-animation {
  width: 100%;
  height: 55px;
  background-color: transparent;
  position: absolute;
  bottom: 170px;
  left: 0;
  z-index: 10000000;

  @include transition(bottom, .2s, linear, 0s);
}



// ====================
// Header
// ====================

// Nav
.nav-list {
  background-color: $green;
  margin: 0;
  height: 155px;
  position: relative;

  &::before {
    content: '';
    width: 100%;
    height: 30px;
    top: -45px;
    display: block;
    background-color: $green;
    position: absolute;
  }

  &::after {
    content: '';
    width: 100%;
    display: block;
    position: absolute;
    height: 15px;
    top: -15px;
    background: url('../images/base-timeline.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
  }
}

.nav-item {
  vertical-align: middle;
  list-style-type: none;
  height: 133px;
  margin: -11px 20px 0 20px;
  position: relative;

  &::before {
    @include data(data-start);
  }

  // Edit position of legend
  &:nth-child(6) {
    figcaption {
      font-size: 1em;
    }
  }

  &:nth-child(7) {
    figcaption {
      font-size: 1em;
    }
  }

  &:nth-child(8) {
    figcaption {
      font-size: 1em;
    }

    aside {
      font-size: .9em;
    }
  }

  &:nth-child(9) {
    figcaption {
      font-size: 1em;
    }
  }

  &:nth-child(10) {
    figcaption {
      font-size: 1em;
    }
  }
}

.nav-link {
  display: block;
  width: auto;
  height: 100%;
  text-decoration: none;
  float: left;
}

.img-link {
  margin: 0 auto auto 40px;
  display: block;

  img {
    float: left;
  }

  figcaption {
    text-transform: uppercase;
    color: $black;
    font-family: $title-period;
    width: 120px;
    text-align: center;
    font-size: 1.2em;
    margin-top: 50px;
    margin-left: 10px;
    float: right;
  }
}

.text-complementary {
  position: absolute;
  height: 100px;
  width: 150px;
  padding: 30px 10px 10px 10px;
  background-color: $green;
  right: 0;
  text-align: center;
  font-family: $title-period;
  font-size: 1.1em;
  color: $black;
  border-radius: 10px;
  @include transition(all, .2s, linear, .2s);

  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: -10px;
    left: 35%;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 13px solid $green;
  }

  &:after {
    content: attr(data-end);
    line-height: 24px;
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
  }

  &.js-hide {
    opacity: 0;
    top: 250px;
  }

  &.js-show {
    opacity: 1;
    top: -200px;
  }
}



// ====================
// Main
// ====================

.content {
  max-width: 1024px;
  width: 100%;
  height: 100%;
  padding: 10px 0 80px 0;
  position: relative;
  margin: 0 auto;
  display: table;

  background-color: $yellow;
  background: $yellow url("../images/bordas-laterais.png");
  background-repeat: no-repeat;
  background-position: top center;

  @include transition(background, .2s, linear, 0s);

  &.js-padding {
    padding-bottom: 190px;
  }

  figure {
    text-align: center;
  }

  p {
    font-size: 1.8em;
    text-align: left;
    color: $black;
    line-height: 1.4em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
}

// Ribbon
.ribbon {
  position: fixed;
  overflow: hidden;
  width: 35px;
  height: 80px;
  margin-left: 4px;
  @include rotate(-90deg);
}

.ribbon-base {
  background: #fff;
  position: relative;

  a {
    display: block;
    width: 21px;
    height: 19px;
    text-indent: -9999px;
    position: relative;
    z-index: 100;
    margin-top: 24px;
    margin-left: 7px;

    background-image: url('../images/icon-home.png');
    background-size: 21px 19px;

    @include rotate(90deg);
  }
}

.ribbon-aba {
  width: 40px;
  height: 40px;
  background: #fff;
  position: absolute;
  z-index: 1;
  @include rotate(45deg);

  &.left {
    left: -17.5px;
    bottom: 28px;
  }

  &.right {
    right: -17.5px;
    bottom: 27px;
  }
}


// ====================
// Pages Internal
// ====================

.page-internal {
  .title-primary {
    color: $green;
    font-size: 4.5em;
    text-align: center;
    margin: 30px auto 40px auto;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: $lithos-black;
  }

  p {
    font-size: 1.5em;
  }

  span {
    color: $color-complementary;
  }

  a {
    display: inline-block;
    text-decoration: none;
    color: $black;
  }
}



// ====================
// Modal
// ====================

.mask-modal {
  width: 100%;
  height: 0;
  background: rgba(0,0,0, .8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 19999;
  visibility: hidden;
  @include transition(height, .5s, linear, 0s);

  &.js-visible-modal {
    height: 100%;
    visibility: visible;
  }
}

.modal {
  visibility: hidden;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 20000;
  background: rgba(0,0,0, .8);

  div {
    max-width: 550px;
    margin: 100px auto;
    background-color: #fff;
    border: 1px solid #000;
    padding: 15px;
    text-align: center;
    position: relative;
    border-radius: 4px;

    a {
      text-decoration: underline;
    }
  }

  .close-modal {
    position: absolute;
    bottom: -30px;
    right: 0;
    text-indent: -9999px;
    width: 27px;
    height: 27px;
    background: url('../images/lightbox/close.png') no-repeat;
  }
}



// ====================
// Break Points
// ====================

/* iPad - em pé ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  body { display: none; }

  .main {
    .content {
      // background: red;
      max-width: 768px;
    }

    // .
  }
}

/* iPad - deitado ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .main {

    // pag02
    .pag02 .text01 { width: 425px; }
    .pag02 .tracejado4 { bottom: 180px; }

    // pag03
    .pag03 .texto01 { width: 430px; }
    .pag03 .tracejado02 { margin-left: 370px; }
    .pag03 .texto04 { width: 420px; }
    .pag03 .tracejado03 { margin-left: 135px; margin-top: 1300px; }

    // pag04
    .pag04 .texto01 { width: 400px; }
    .pag04 .expulsao-jesuitas { width: 315px; }
    .pag04 .tracejado02 { margin-left: 625px; }
    .pag04 .tracejado03 { margin-left: 280px; }
    .pag04 .d-jose { margin-right: 30px; }
    .pag04 .texto02 { width: 410px; }
    .pag04 .tracejado04 { margin-left: 390px; }
    .pag04 .texto03 { width: 420px; }

    // pag05
    .pag05 .tracejado01 { margin-left: 260px; }
    .pag05 .independencia a { margin-top: 125px; }
    .pag05 .tracejado06 { margin-top: 315px; }
    .pag05 .tracejado07 { margin-top: 380px; }

    // pag06
    .pag06 .texto01 { width: 420px; }
    .pag06 .tracejado01 { margin-left: 215px; }
    .pag06 .tracejado02 { margin-left: 115px; }
    .pag06 .tracejado03 { margin-top: 535px; }
    .pag06 .demarcacao-terras { margin-top: 550px; left: -450px; }
    .pag06 .texto02 { margin-top: -370px; }

    // pag07
    .pag07 .texto01 { width: 410px; }
    .pag07 .tracejado01 { margin-left: 285px; }
    .pag07 .marcha { width: 430px; }

    // pag08
    .pag08 .texto01 { width: 410px; }
    .pag08 .tracejado01 { margin-left: 280px; }
    .pag08 .tracejado03 { margin-left: 200px; }
    .pag08 .texto03 { width: 415px; }
    .pag08 .texto03 p:nth-child(2) { width: 850px; }
    .pag08 .tracejado05 { margin-top: -105px; }
    .pag08 .jornal { margin-top: -50px; }
    .pag08 .tracejado06 { margin-top: 1310; margin-left: 255px;}

    // pag09
    .pag09 .mapa { margin-top: 10px; }
    .pag09 .texto03 { width: 410px; }
    .pag09 .tracejado02 { margin-left: 270px; }

    // pag10
    .pag10 .texto02 { width: 415px; }
  }

}
