// ====================
// Pages Internal
// ====================

.pag02 {
  .text01 {
    width: 467px;
    float: left;
    margin-top: 22px;
    margin-left: 68px;
  }

  .tracejado01 {
    width: 499px;
    height: 55px;
    margin-top: 84px;
    margin-left: 311px;
    position: absolute;
    @include path('pag02/tracejado-01.png');
  }

  .tracejado02 {
    position: absolute;
    width: 457px;
    height: 1292px;
    margin-top: 168px;
    margin-left: 39px;
    @include path('pag02/tracejado-02.png');
  }

  .pedro {
    width: 470px;
    float: right;
    margin-top: 80px;
    margin-right: 10px;
    position: relative;

    a {
      margin-left: 15px;
      z-index: 3;
      position: relative;
    }

    p {
      background-color: $azul;
      width: 180px;
      text-align: left;
      position: absolute;
      right: 0px;
      top: 110px;
      padding: 20px 20px 20px 50px;
      font-size: 1.2em;
      z-index: 2;
    }
  }

  .mapa-indio {
    width: 530px;
    margin-top: -95px;
    float: left;
    margin-left: 72px;
    position: relative;

    a {
      &:nth-child(2) {
        margin-top: 160px;
        margin-left: -50px;
        position: absolute;
      }
    }
  }

  .caravela {
    width: 350px;
    float: right;
    margin-top: 25px;
    position: relative;
    z-index: 4;

    a {
      &:nth-child(1) {
        margin-bottom: 75px;
        margin-left: 70px;
      }
    }
  }

  .tracejado03 {
    width: 319px;
    height: 397px;
    right: 28px;
    margin-top: 345px;
    position: absolute;
    z-index: 2;
    @include path('pag02/tracejado-03.png');
  }

  .texto02 {
    width: 465px;
    margin-top: 60px;
    margin-left: 70px;
    float: left;
    position: relative;

    .curt {
      width: 220px;
      height: 100px;
      position: relative;
      margin-top: 30px;
      margin-left: -58px;
      background-color: $verde;

      .curt-texto {
        padding-right: 60px;
        padding-left: 12px;
        font-size: 1.2em;
      }

      .curt-link {
        position: absolute;
        right: -95px;
        top: -67px;
      }
    }
  }

  .tracejado4 {
    width: 319px;
    height: 2px;
    bottom: 130px;
    left: 300px;
    z-index: 2;
    position: absolute;
    @include path('pag02/tracejado-04.png');
  }

  .mapa {
    width: 450px;
    float: right;
    margin-top: 155px;
    margin-right: 25px;
    z-index: 4;
    position: relative;
  }
}
