// ====================
// Pages Internal
// ====================

.pag10 {

  .title-primary {
    font-size: 3.1em;
  }

  .texto01 {
    width: 445px;
    float: left;
    margin-left: 52px;
    margin-top: 8px;
  }

  .indios {
    width: 465px;
    float: right;
    margin-top: 42px;
    margin-right: 47px;
    position: relative;
    z-index: 4;

    a {
      &:nth-child(2) {
        margin-top: 55px;
        margin-left: 55px;
      }
    }
  }

  .tracejado04 {
    position: absolute;
    width: 101px;
    height: 216px;
    right: 88px;
    margin-top: 325px;
    @include path('pag10/tracejado-04.png');
  }

  .indios-tecnologia {
    width: 366px;
    float: left;
    margin-left: 87px;
    margin-top: 12px;
    position: relative;
    z-index: 4;
  }

  .tracejado05 {
    position: absolute;
    width: 192px;
    height: 207px;
    margin-top: 539px;
    left: 450px;
    @include path('pag10/tracejado-05.png');
  }

  .tracejado06 {
    position: absolute;
    width: 460px;
    height: 2px;
    right: 35px;
    margin-top: -19px;
    @include path('pag10/tracejado-06.png');
  }

  .texto02 {
    width: 450px;
    float: left;
    margin-left: 53px;
    margin-top: 57px;
  }

  .culinaria {
    width: 470px;
    height: 570px;
    position: relative;
    float: right;
    margin-top: -4px;
    margin-right: -4px;

    a {
      &:nth-child(1) {
        position: absolute;
        margin-top: 57px;
        margin-left: -18px;
      }

      &:nth-child(2) {
        position: absolute;
        right: 0;
        margin-top: 1px;
        margin-right: 46px;
      }

      &:nth-child(3) {
        margin-top: 300px;
        margin-left: 45px;
      }
    }
  }

  .tracejado01 {
    position: absolute;
    width: 66px;
    height: 72px;
    right: 239px;
    margin-top: 91px;
    @include path('pag10/tracejado-01.png');
  }

  .tracejado02 {
    position: absolute;
    width: 403px;
    height: 251px;
    margin-top: 162px;
    margin-left: 140px;
    @include path('pag10/tracejado-02.png');
  }

  .tracejado03 {
    position: absolute;
    width: 41px;
    height: 127px;
    right: 124px;
    margin-top: 205px;
    @include path('pag10/tracejado-03.png');
  }

  .texto03 {
    clear: both;
    margin-top: 40px;
    display: inline-block;
    padding: 20px;
    height: 170px;
    margin-left: 10px;
    background-color: $azul;
  }

}
