// ====================
// Pages Internal
// ====================

.pag08 {

  .title-primary {
    font-size: 2.5em;
  }

  .texto01 {
    width: 423px;
    float: left;
    margin-left: 54px;
    margin-top: 13px;
    position: relative;
    z-index: 4;

    p {
      &:nth-child(2) {
        margin-top: 24px;
        font-size: 1.3em;
        width: 290px;
        margin-left: 20px;
      }
    }
  }

  .tracejado01 {
    width: 344px;
    height: 30px;
    position: absolute;
    margin-top: 34px;
    margin-left: 303px;
    @include path('pag08/tracejado-01.png');
  }

  .tracejado02 {
    position: absolute;
    width: 171px;
    height: 211px;
    margin-top: 96px;
    margin-left: 35px;
    @include path('pag08/tracejado-02.png');
  }

  .tracejado03 {
    width: 203px;
    height: 272px;
    position: absolute;
    margin-left: 213px;
    margin-top: 201px;
    @include path('pag08/tracejado-03.png');
  }

  .texto02 {
    width: 471px;
    float: right;
    margin-top: 60px;
    margin-right: 10px;
    background-color: $azul;

    p {
      float: left;
      width: 220px;
      font-size: 1.3em;
      margin-top: 20px;
      margin-left: 20px;
    }

    a {
      float: right;
      margin-top: -11px;
      margin-right: -3px;
    }
  }

  .funai {
    width: 500px;
    height: 170px;
    float: left;
    margin-top: 107px;
    margin-left: 10px;
    background-color: $verde;

    a {
      float: left;
      margin-top: -95px;
      margin-left: 16px;
    }

    p {
      float: right;
      font-size: 1.3em;
      width: 216px;
      margin-top: 20px;
    }
  }

  .mapa {
    width: 425px;
    float: right;
    margin-right: 50px;
    margin-top: -71px;
    position: relative;
    z-index: 4;

    &::before {
      @extend %data-legend;
      bottom: -15px;
      margin-left: 180px;
    }
  }

  .tracejado07 {
    position: absolute;
    width: 2px;
    height: 111px;
    right: 380px;
    margin-top: 288px;
    @include path('pag08/tracejado-07.png');
  }

  .tracejado04 {
    position: absolute;
    width: 590px;
    height: 54px;
    margin-top: 900px;
    margin-left: 53px;
    @include path('pag08/tracejado-04.png');
  }

  .texto03 {
    width: 455px;
    float: left;
    margin-left: 54px;
    margin-top: 131px;

    p {
      &:nth-child(2) {
        width: 930px;
      }

      &:nth-child(3) {
        width: 700px;
      }
    }
  }

  .xingu {
    width: 460px;
    float: right;
    margin-top: 82px;
    margin-right: 10px;
    position: relative;
    z-index: 4;

    a {
      margin-top: 40px;
      margin-left: 83px;

      &.img02 {
        position: relative;

        &::before {
          @extend %data-legend;
          bottom: -35px;
          margin-left: -10px;
        }
      }
    }

    .group {
      height: 350px;
      padding: 10px;
      background-color: $azul;

      a {
        margin-left: 6px;
        margin-top: 0;
      }

      p {
        font-size: 1.3em;
        margin-top: 7px;
        margin-left: 40px;
        width: 380px;
      }
    }
  }

  .tracejado05 {
    position: absolute;
    width: 149px;
    height: 129px;
    margin-top: -127px;
    margin-left: 40px;
    @include path('pag08/tracejado-05.png');
  }

  .tracejado06 {
    position: absolute;
    width: 501px;
    height: 2px;
    margin-top: 1289px;
    margin-left: 257px;
    @include path('pag08/tracejado-06.png');
  }

  .conselho {
    width: 710px;
    float: left;
    margin-top: 10px;
    height: 184px;
    margin-left: 12px;
    background-color: $verde;

    a {
      float: left;
    }

    p {
      float: right;
      width: 400px;
      font-size: 1.3em;
      margin-top: 20px;
      margin-right: 12px;
    }
  }

  .jornal {
    width: 200px;
    float: right;
    margin-right: 64px;
    margin-top: -85px;
    position: relative;

    &::before {
      @extend %data-legend;
      bottom: -15px;
      margin-left: 60px;
    }
  }
}
