// ====================
// Pages Internal
// ====================

$color1: rgb(191, 218, 215);
$color2: rgb(153, 178, 131);

.page-internal {
  position: relative;

  .title-primary {
    color: $green;
    font-size: 4em;
    text-align: center;
    margin: .3em auto 40px auto;
    text-transform: uppercase;
    font-family: $lithos-black;
  }

  p {
    font-size: 1.6em !important;
  }

  span{
    color: $color-complementary;

    &.tracejado-01 {
      width: 499px;
      height: 55px;
      position: absolute;
      background: url('../../src/images/pag01/tracejado-01.png');
      background-repeat: no-repeat;
      top: 138px;
      left: 380px;
    }
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .clear {
    clear: both;
  }

  .color1 {
    background-color: $color1;
    padding: 10px;
  }

  .color2 {
    background-color: $color2;
    padding: 10px;
  }

  .texto-mapa-01 {
    width: 320px;
    margin-left: -30px;
    margin-top: 10px;
  }

  .image-mapa-01 {
    margin-top: -60px;
    position: relative;
    z-index: 3;
    left: -30px;
  }

  .texto-mapa-02 {
    width: 200px;
    position: relative;
    padding-left: 100px;
    top: -90px;
    right: -90px;
    z-index: 1;
  }

  .image-caveira {
    margin-left: -200px;
    z-index: 10;
    position: relative;
  }

  .texto-caveira {
    padding: 10px 10px 10px 200px;
    position: relative;
    z-index: 8;
    margin-top: -150px;
    margin-left: -10px;
  }

  .image-luzia-principal {
    left: 340px;
    top: -250px;
    position: relative;
    display: inline-block;
  }

  .serra-capivara {
    margin-top: -620px;
  }

  .texto-serra-capivara {
    width: 220px;
    float: right;
    right: 10px;
    position: relative;
  }

  .arte-serra-capivara {
    top: -280px;
    position: relative;
    left: -160px;
  }

  .putaquepariu {
    display: inline-block;
    position: absolute;
    left: 410px;
    top: 1050px;
  }

}
