// ====================
// Pages Internal
// ====================

.pag06 {

  .texto01 {
    width: 450px;
    float: left;
    margin-left: 51px;
    margin-top: -10px;

    p {
      &:nth-child(2) {
        width: 320px;
      }
    }
  }

  .tracejado01 {
    position: absolute;
    width: 463px;
    height: 30px;
    margin-top: 30px;
    margin-left: 237px;
    @include path('pag06/tracejado-01.png');
  }

  .tracejado02 {
    position: absolute;
    width: 463px;
    height: 77px;
    margin-top: 158px;
    margin-left: 155px;
    @include path('pag06/tracejado-02.png');
  }

  .auguste-comte {
    width: 495px;
    float: right;
    margin-right: 16px;
    margin-top: 3px;

    p {
      font-size: 1.3em;
      margin-top: 60px;
      width: 340px;
      margin-left: 120px;
    }

    .group {

      p {
        margin-top: 10px;
        padding: 16px;
        width: 418px;
        margin-left: 50px;
        background-color: $azul;
      }

      a {
        float: left;
        position: relative;
        z-index: 4;
        margin-left: 12px;
        margin-top: -12px;
      }
    }
  }

  .tracejado05 {
    position: absolute;
    width: 483px;
    height: 2px;
    right: 10px;
    margin-top: 379px;
    @include path('pag06/tracejado-05.png');
  }

  .tracejado03 {
    width: 396px;
    height: 2px;
    position: absolute;
    margin-top: 555px;
    margin-left: 117px;
    @include path('pag06/tracejado-03.png');
  }

  .tribo-bororos {
    width: 475px;
    right: 0;
    margin-top: 421px;
    margin-right: 141px;
    position: absolute;
    z-index: 4;

    &::before {
      @extend %data-legend;
      bottom: -30px;
      margin-left: 150px;
    }
  }

  .demarcacao-terras {
    float: left;
    width: 503px;
    margin-top: 48px;
    margin-left: 22px;
    position: relative;
    z-index: 4;

    &::before {
      @extend %data-legend;
      bottom: -20px;
      margin-left: 190px;
    }
  }

  .tracejado04 {
    position: absolute;
    width: 483px;
    height: 2px;
    right: 10px;
    margin-top: 886px;
    @include path('pag06/tracejado-04.png');
  }

  .texto02 {
    width: 394px;
    float: right;
    margin-top: 50px;
    margin-right: 44px;
  }

  .tracejado06 {
    position: absolute;
    width: 390px;
    height: 232px;
    bottom: 120px;
    margin-left: 160px;
    @include path('pag06/tracejado-06.png');
  }

  .rondon {
    width: 505px;
    float: right;
    right: -426px;
    height: 145px;
    margin-top: 116px;
    position: relative;
    z-index: 4;
    background-color: $verde;

    p {
      float: left;
      width: 240px;
      font-size: 1.3em;
      padding: 20px;
    }

    a {
      margin-top: -100px;
      float: right;
      margin-right: 10px;
    }
  }

}
