// ====================
// Pages Internal
// ====================

.pag01 {

  .texto01 {
    width: 440px;
    float: left;
    margin-left: 53px;
    margin-top: -15px;
  }

  .tracejado01 {
    width: 499px;
    height: 55px;
    position: absolute;
    margin-top: -6px;
    margin-left: 290px;
    @include path('pag01/tracejado-01.png');
  }

  .mapa {
    width: 380px;
    float: right;
    margin-top: 14px;
    margin-right: 10px;

    a {
      float: left;
      margin-top: -20px;
      position: relative;
    }

    p {
      &:nth-child(1) {
        width: 302px;
        font-size: 1.3em;
        float: left;
        margin-top: 4px;
        margin-left: 32px;
      }

      &.text {
        float: right;
        background-color: $azul;
        width: 160px;
        margin-top: -190px;
        font-size: 1.3em;
        text-align: right;
        padding: 20px 5px 20px 60px;
      }
    }
  }

  .tracejado07 {
    position: absolute;
    width: 127px;
    height: 254px;
    right: 130px;
    margin-top: 356px;
    @include path('pag01/tracejado-07.png');
  }

  .tracejado02 {
    position: absolute;
    width: 217px;
    height: 137px;
    margin-top: 173px;
    margin-left: 307px;
    @include path('pag01/tracejado-02.png');
  }

  .cranio-luzia-01 {
    width: 337px;
    margin-left: 10px;
    float: left;
    height: 140px;
    margin-top: 52px;
    background-color: $verde;

    a {
      float: left;
      width: 248px;
      margin-left: -53px;
      margin-top: -34px;
    }

    p {
      float: right;
      width: 140px;
      font-size: 1.3em;
      text-align: right;
      margin-top: 20px;
    }
  }

  .reconstrucao-luzia-01 {
    width: 320px;
    float: left;
    margin-top: -23px;
    margin-left: -47px;
    position: relative;
    z-index: 4;

    &::before {
      @extend %data-legend;
      bottom: -20px;
      margin-left: 130px;
    }
  }

  .tracejado08 {
    position: absolute;
    width: 648px;
    height: 2px;
    margin-top: 830px;
    right: 10px;
    @include path('pag01/tracejado-08.png');
  }

  .capivara {
    width: 240px;
    margin-right: 10px;
    float: right;
    margin-top: -32px;
    position: relative;
    z-index: 4;

    &::before {
      @extend %data-legend;
      top: 196px;
      margin-left: 70px;
    }

    a {
      &:nth-child(1) {
        margin-left: 21px;
      }

      &:nth-child(2) {
        margin-left: -82px;
        margin-top: 22px;
        float: left;
      }
    }

    p {
      font-size: 1.3em;

      &.text {
        width: 160px;
        font-size: 1.3em;
        float: right;
        margin-top: 22px;
        margin-right: 10px;
      }

      &.text2 {
        font-size: 1.3em;
        width: 280px;
        margin-left: -40px;
        float: left;
      }
    }
  }

  .tracejado03 {
    position: absolute;
    width: 108px;
    height: 601px;
    margin-top: 633px;
    margin-left: 31px;
    @include path('pag01/tracejado-03.png');
  }

  .texto02 {
    width: 299px;
    float: left;
    margin-left: 53px;
    margin-top: -245px;
    position: relative;
    z-index: 5;

    .text {
      width: 620px;
      float: left;
    }
  }

  .tracejado04 {
    position: absolute;
    width: 438px;
    height: 55px;
    margin-top: 948px;
    margin-left: 253px;
    @include path('pag01/tracejado-04.png');
  }

  .sambaquis {
    width: 180px;
    float: left;
    margin-top: 64px;
    margin-left: 13px;
    position: relative;
    z-index: 4;

    &::before {
      @extend %data-legend;
      bottom: -20px;
      margin-left: 60px;
    }
  }

  .ceramica-marajoara {
    width: 368px;
    float: right;
    margin-right: 10px;
    margin-top: 46px;
    position: relative;
    z-index: 4;

    &::before {
      @extend %data-legend;
      bottom: -20px;
      margin-left: 60px;
    }

    a {
      &:nth-child(1) { margin-left: 12px; }
      &:nth-child(2) { margin-left: -13px; }
    }
  }

  .capa-veja {
    float: left;
    margin-top: 12px;
    margin-left: 50px;
    position: relative;

    &::before {
      @extend %data-legend;
      bottom: -60px;
    }
  }

  .tracejado09 {
    position: absolute;
    width: 140px;
    height: 156px;
    margin-top: 200px;
    left: 310px;
    @include path('pag01/tracejado-09.png');
  }

  .tracejado05 {
    position: absolute;
    width: 294px;
    height: 66px;
    margin-top: 55px;
    left: 436px;
    @include path('pag01/tracejado-05.png');
  }

  .cranio-luzia-02 {
    width: 423px;
    float: left;
    margin-left: 71px;
    margin-top: 5px;

    a {
      float: left;
    }

    p {
      float: right;
      font-size: 1.3em;
      width: 240px;
      margin-top: 9px;
      position: relative;
      z-index: 4;
    }
  }

  .annette {
    width: 147px;
    float: left;
    margin-top: -59px;
    margin-left: 36px;
    position: relative;
    z-index: 4;
  }

  .tracejado06 {
    position: absolute;
    width: 184px;
    height: 19px;
    margin-top: 423px;
    left: 137px;
    @include path('pag01/tracejado-06.png');
  }

  .walter {
    width: 410px;
    float: left;
    margin-top: 60px;
    margin-left: 10px;
    position: relative;

    .image {
      float: left;
      margin-left: 26px;
      margin-top: 5px;
    }

    p {
      font-size: 1.3em;
      float: left;
      width: 234px;
      text-align: right;
      margin-top: 134px;
    }

    .image2 {
      position: absolute;
      top: -28px;
      right: -10px;
    }
  }

  .reconstrucao-luzia-03 {
    width: 290px;
    float: left;
    margin-top: 5px;
    margin-left: -9px;
  }

  .niede {
    width: 260px;
    float: right;
    margin-right: 10px;
    position: relative;

    &::before {
      @extend %data-legend;
      top: 160px;
      margin-left: 150px;
    }

    a {
      margin-top: -56px;
      float: left;
      margin-right: 10px;
      margin-left: 62px;
    }

    p {
      font-size: 1.3em;
      text-align: right;
      width: 273px;
      margin-left: -30px;
      float: left;
      margin-top: 18px;
    }
  }

}
