// ====================
// Pages Internal
// ====================

.pag09 {

  .title-primary {
    font-size: 3.7em;
  }

  .texto01 {
    width: 440px;
    float: left;
    margin-left: 51px;
  }

  .tracejado01 {
    width: 579px;
    height: 30px;
    position: absolute;
    margin-top: 61px;
    margin-left: 170px;
    @include path('pag09/tracejado-01.png');
  }

  .constituicao {
    width: 490px;
    float: right;
    margin-top: 85px;
    margin-right: 35px;
  }

  .texto02 {
    float: left;
    width: 416px;
    background: $azul;
    margin-top: 26px;
    padding: 10px 10px 10px 60px;
  }

  .indio {
    width: 390px;
    float: left;
    margin-top: 4px;
    margin-left: 60px;
  }

  .mapa {
    width: 467px;
    float: right;
    margin-top: -47px;
    margin-right: 51px;
  }

  .texto03 {
    width: 456px;
    float: left;
    margin-top: 75px;
    margin-left: 50px;
  }

  .tracejado02 {
    width: 600px;
    height: 19px;
    position: absolute;
    margin-top: 881px;
    margin-left: 290px;
    @include path('pag09/tracejado-02.png');
  }

  .indios-conflito {
    width: 460px;
    float: right;
    margin-right: 55px;
    margin-top: 68px;
  }

}
