// ====================
// Pages Internal
// ====================

.pag04 {

  .title-primary {
    font-size: 4em;
  }

  .texto01 {
    width: 440px;
    float: left;
    margin-left: 68px;
    margin-top: -5px;
  }

  .tracejado01 {
    position: absolute;
    width: 623px;
    height: 2px;
    margin-top: 140px;
    margin-left: 270px;
    @include path('pag04/tracejado-01.png');
  }

  .cartaz {
    width: 484px;
    float: right;
    margin-top: 22px;
    position: relative;
    background-color: $azul;

    a {
      float: left;
      margin-top: -10px;
    }

    p {
      width: 290px;
      font-size: 1.4em;
      margin-top: 32px;
      float: right;
    }
  }

  .tracejado08 {
    width: 483px;
    height: 2px;
    position: absolute;
    margin-left: 545px;
    margin-top: 352px;
    @include path('pag04/tracejado-08.png');
  }

  .marques-pombal {
    width: 360px;
    margin-left: 43px;
    margin-top: 11px;
    float: left;
    position: relative;
    z-index: 4;
  }

  .tracejado07 {
    width: 230px;
    height: 2px;
    position: absolute;
    margin-top: 321px;
    margin-left: 290px;
    @include path('pag04/tracejado-07.png');
  }

  .expulsao-jesuitas {
    width: 350px;
    float: left;
    margin-left: 16px;
    margin-top: 60px;
    position: relative;
    z-index: 4;

    p {
      font-size: 1.2em;
    }

    a {
      margin-left: 51px;
      margin-top: -7px;
    }
  }

  .tracejado02 {
    position: absolute;
    width: 175px;
    height: 2px;
    margin-top: 91px;
    margin-left: 660px;
    @include path('pag04/tracejado-02.png');
  }

  .tracejado03 {
    width: 238px;
    height: 2px;
    position: absolute;
    margin-top: 123px;
    margin-left: 296px;
    @include path('pag04/tracejado-03.png');
  }

  .d-jose {
    width: 249px;
    float: right;

    a {
      margin-top: 34px;
      margin-left: 57px;
    }

    p {
      font-style: italic;
      margin-top: 20px;
    }
  }

  .tracejado06 {
    width: 483px;
    height: 2px;
    position: absolute;
    margin-top: 449px;
    margin-left: 25px;
    @include path('pag04/tracejado-06.png');
  }

  .texto02 {
    width: 455px;
    float: left;
    margin-left: 68px;
    margin-top: 74px;
  }

  .tracejado04 {
    width: 235px;
    height: 2px;
    position: absolute;
    margin-top: 794px;
    margin-left: 438px;
    @include path('pag04/tracejado-04.png');
  }

  .botocudos {
    width: 470px;
    float: right;
    margin-top: 70px;
    margin-right: -6px;
    z-index: 3;
    position: relative;

    p {
      padding: 7px;
      background-color: $azul;
    }
  }

  .texto03 {
    float: left;
    width: 460px;
    margin-top: 13px;
    margin-left: 80px;

    p {
      &:nth-child(1) {
        font-weight: bold;
      }

      &:nth-child(2) {
        margin-top: 12px;
      }
    }
  }

  .tracejado05 {
    width: 547px;
    height: 119px;
    position: absolute;
    margin-top: 160px;
    margin-left: 80px;
    @include path('pag04/tracejado-05.png');
  }

  .danca-tapuias {
    width: 403px;
    float: right;
    margin-top: -158px;
    margin-right: 50px;
    position: relative;
    z-index: 3;
  }

  .texto04 {
    clear: both;
    display: inline-block;
    margin-left: 80px;
  }

}
