/* Slider */
.slick-slider {
  position: relative;
  display: block;

  box-sizing: border-box;
  -moz-box-sizing: border-box;

  -webkit-touch-callout: none;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -ms-touch-action: none;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  // overflow-x: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-list,
.slick-track, .slick-slide,
.slick-slide img {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  zoom: 1;

  &::before {
    content: "";
    display: table;
  }

  &::after {
    content: "";
    display: table;
    clear: both
  }
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;

  img {
    display: block;
  }
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  width: 49px;
  height: 133px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  padding: 0;
  border: none;
  outline: none;
  top: 0;
}

.slick-prev.slick-disabled,
.slick-next.slick-disabled {
  opacity: 0.25;
}

.slick-prev {
  left: 0;
  background-image: url('../../src/images/prev.png');
  background-repeat: no-repeat;
}

.slick-next {
  right: 0;
  background-image: url('../../src/images/next.png');
  background-repeat: no-repeat;
}


/* Dots */
.list-dots {
  position: absolute;
  bottom: 0;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;

  li {
    width: 18px;
    cursor: pointer;
    height: 18px;
    background: transparent;
    border-radius: 100%;
    text-indent: -9999px;
    // border: 2px solid $grey-lighter;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;

    &:hover {
      // border: 2px solid $guava;
    }

    &.slick-active {
      // background: $guava;
      border: 0;
    }
  }

  button {
    border: 0;
    background: transparent;
    display: block;
    height: 18px;
    width: 18px;
    vertical-align: middle;
    outline: none;
    line-height: 0;
    font-size: 0;
    color: transparent;
    cursor: pointer;
    border-radius: 100%;

    &:hover,
    &:focus {
      outline: none;
    }
  }
}


[dir="rtl"] .slick-next {right: auto;left: -25px;}
[dir="rtl"] .slick-next:before {content: "\2190";}
[dir="rtl"] .slick-prev {right: -25px;left: auto;}
[dir="rtl"] .slick-prev:before {content: "\2192";}
[dir="rtl"] .slick-slide {float: right;}

