// ====================
// Fonts
// ====================

// Comic Book
@font-face {
    font-family: 'ComicBookRegular';
    src: url('../../dist/fonts/comic_book.eot');
    src: url('../../dist/fonts/comic_book.eot') format('embedded-opentype'),
         url('../../dist/fonts/comic_book.woff') format('woff'),
         url('../../dist/fonts/comic_book.ttf') format('truetype'),
         url('../../dist/fonts/comic_book.svg#ComicBookRegular') format('svg');
}

// Lithos Black
@font-face {
    font-family: 'LithosPro850';
    src: url('../../dist/fonts/lithospro-black.eot');
    src: url('../../dist/fonts/lithospro-black.eot') format('embedded-opentype'),
         url('../../dist/fonts/lithospro-black.woff') format('woff'),
         url('../../dist/fonts/lithospro-black.ttf') format('truetype'),
         url('../../dist/fonts/lithospro-black.svg#LithosPro850') format('svg');
}

// Lithos Regular
@font-face {
    font-family: 'LithosProRegular';
    src: url('../../dist/fonts/lithospro-regular.eot');
    src: url('../../dist/fonts/lithospro-regular.eot') format('embedded-opentype'),
         url('../../dist/fonts/lithospro-regular.woff') format('woff'),
         url('../../dist/fonts/lithospro-regular.ttf') format('truetype'),
         url('../../dist/fonts/lithospro-regular.svg#LithosProRegular') format('svg');
}
